<!DOCTYPE html>
    

<html>
<head>
  <title>EZPC</title></head>


<script>
  function clicked(e)
  {
    if (!confirm('Are you sure?'))
    {
      e.preventDefault();
      alert('Aborted');
    }
    else
    {
      alert('Submitted!');
      document.myform.submit();
    }
  }
</script>

<h1><font size="10" color="blue">EZPC Tool</font></h1>

<form id = 'myform' action="#" method="post" enctype="multipart/form-data" >
 {% csrf_token %}
 
<table style="width:auto%">
  <tr>
    <td>Features File</td>

    <td><input id="featureFile" name="featureFile" type="file" /></td>
  </tr>

  <tr>
    <td>Column Constraints File</td>

    <td><input id="ccFile" name="ccFile" type="file" /></td>
  </tr>

 <tr>
    <td>Row Constraints File</td>

    <td><input id="rcFile" name="rcFile" type="file" /></td>
  </tr>

  <tr>
    <td>Group Constraints File</td>

    <td><input id="gcFile" name="gcFile" type="file" /></td>
  </tr>

  <tr>
    <td>PC Size Minimum File</td>

    <td><input id="minFile" name="minFile" type="file" /></td>
  </tr>

  <tr>
    <td>PC Size Maximum File</td>

    <td><input id="maxFile" name="maxFile" type="file" /></td>
  </tr></table>



<input type="submit" onclick="clicked(event);"/>



</form>




<html>